automation/n8n-order-notification.json
{
  "name": "Jojo Store and Snackhouse - Order Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jojo-store-order",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "jojo-store-order"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "order.placed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new_order"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "order.status_updated",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status_update"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-node",
      "name": "Order Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg1",
              "name": "notification",
              "value": "=NEW ORDER: {{ $json.order_number }} | {{ $json.customer_name }} | {{ $json.customer_phone }} | {{ $json.fulfillment_type }} | PHP {{ $json.total_amount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-new-order",
      "name": "Format New Order",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg2",
              "name": "notification",
              "value": "=STATUS UPDATE: {{ $json.order_number }} is now {{ $json.status }} (was {{ $json.old_status }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-status",
      "name": "Format Status Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 420]
    },
    {
      "parameters": {
        "fromEmail": "store@example.com",
        "toEmail": "={{ $json.customer_email || 'youremail@gmail.com' }}",
        "subject": "=Order {{ $json.order_number }} - Jojo Store and Snackhouse Store",
        "emailType": "text",
        "message": "={{ $json.notification }}"
      },
      "id": "email-new",
      "name": "Email Customer (optional)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [960, 180],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Setup (required)\n\n1. **Activate** this workflow (toggle ON)\n2. Open **Webhook** node → copy **Production URL**\n3. Paste in `backend/.env`:\n   `N8N_WEBHOOK_URL=https://your-n8n/webhook/jojo-store-order`\n4. Restart: `php artisan serve`\n5. Place test order at `/shop`\n6. Check **Executions** tab in n8n\n\nLaravel sends JSON at root: `$json.event`, `$json.order_number`, etc.\n\n**Email node is disabled by default** — enable only after SMTP credentials are set.",
        "height": 280,
        "width": 420
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 40]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Order Event Type", "type": "main", "index": 0 }]]
    },
    "Order Event Type": {
      "main": [
        [{ "node": "Format New Order", "type": "main", "index": 0 }],
        [{ "node": "Format Status Update", "type": "main", "index": 0 }]
      ]
    },
    "Format New Order": {
      "main": [[{ "node": "Email Customer (optional)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "jojo-store-store" },
  "tags": []
}
